nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    grid-gap: 1rem;
    gap: 5rem;
    text-align: center;
}

.card .card-image .card-title {
  color: black;
  position: static;
  padding: 0;
}

.row .col.m6 {
  width: auto;
}

.card {
  min-height: 470px;
}

.price {
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart-quantity {

}